{% extends 'base/base.html' %}
{% block content %}

<br>
<br>

<h1>Marvel Character Search</h1>
<div class="subtitle">
    <h5>Finds characters that have names starting with the search term</h5>
</div>

<form class="subtitle" action="/marvel/" method="post">
    <div class="form-group form-capped">
        {% csrf_token %}
        <label for="form-sub">Search for a character: </label>
        <input class="form-control" id="form-sub" type="text" name="character">
        <div class="btn-sub">
            <input class="btn btn-default" type="submit" value="Submit" onClick="return isNotEmpty('Please enter a search term')">
        </div>
    </div>
</form>

{% endblock %}
