{% extends 'base/base.html' %}
{% block content %}

<br>
<br>

<h1>Support Ticket API</h1>
<div class="subtitle">
    <h5>Stores, validates and retrieves support tickets</h5>
</div>

<form class="subtitle">
    <div class="form-group">
        {% csrf_token %}
        <label for="form-sub">
            Submit a ticket in the format “Ticket &lt;ticket_id&gt; &lt;team_name&gt; &lt;priority_level&gt;”
        </label>
        <div class="form-capped">
            <input class="form-control" id="form-sub" type="text" name="ticket" placeholder="Ticket XXX-XXX Engineering Critical">
            <div class="btn-sub">
                <input class="btn btn-default" type="submit" value="Submit" id="post-ticket">
            </div>
        </div>
    </div>
</form>

{% endblock %}
