{% extends 'base/base.html' %}
{% block content %}

<br>
<br>

<h1 class="title">Support Ticket API</h1>
<div class="subtitle">
    <h5>Stores, validates and retrieves support tickets</h5>
    <br>
    <h6>Tickets must be submitted in the format <i>“Ticket &lt;ticket_id&gt; &lt;team_name&gt; &lt;priority_level&gt;"</i></h6>
    <h6 class="sub-subtitle"><i>&lt;ticket_id&gt;</i> - Ticket ID in the form of XXX-XXX, where each X represents a number</h6>
    <h6 class="sub-subtitle"><i>&lt;team_name&gt;</i> - Valid teams are: Engineering, Sales and Marketing</h6>
    <h6 class="sub-subtitle"><i>&lt;priority_level&gt;</i> - Valid priority levels are Critical, Important, Normal and Low</h6>
</div>

<br>

<form class="subtitle">
    <div class="form-group">
        {% csrf_token %}
        <label for="form-sub">
            Submit a ticket:
        </label>
        <div class="form-capped">
            <input class="form-control" id="form-sub" type="text" name="ticket" placeholder="Ticket 555-555 Engineering Critical">
            <div class="btn-sub">
                <input class="btn btn-default" type="submit" value="Submit" id="post-ticket">
            </div>
        </div>
    </div>
</form>

<br>

<div class="subtitle">
    <h5>Example Tickets:</h5>
    <br>
    <p>Ticket 000-001 Engineering Low</p>
    <p>Ticket 000-002 Sales Normal</p>
    <p>Ticket 000-003 Marketing Important</p>
    <p>Ticket 000-004 Sales Low</p>
    <p>Ticket 000-005 Sales Critical</p>
    <p>Ticket 000-006 Engineering Low</p>
    <p>Ticket 000-007 Engineering Important</p>
</div>

<br>

{% endblock %}
