{% extends 'base/base.html' %}
{% block content %}

<br>
<br>

<h1 class="title">Support Ticket API</h1>
<div class="subtitle">
    <h5>Stores, validates and retrieves support tickets</h5>
    <br>
    <h6>Tickets must be submitted in the format <i>“Ticket &lt;ticket_id&gt; &lt;team_name&gt; &lt;priority_level&gt;"</i></h6>
    <h6 class="sub-subtitle"><i>&lt;ticket_id&gt;</i> - Ticket ID in the form of XXX-XXX, where each X represents a number</h6>
    <h6 class="sub-subtitle"><i>&lt;team_name&gt;</i> - Valid teams are: Engineering, Sales and Marketing</h6>
    <h6 class="sub-subtitle"><i>&lt;priority_level&gt;</i> - Valid priority levels are Critical, Important, Normal and Low</h6>
</div>

<br>

<form class="subtitle">
    <div class="form-group">
        {% csrf_token %}
        <label for="form-sub">
            Submit a ticket:
        </label>
        <div class="form-capped">
            <input class="form-control" id="form-sub" type="text" name="ticket" placeholder="Ticket 555-555 Engineering Critical">
            <div class="btn-sub">
                <input class="btn btn-default" type="submit" value="Submit" id="post-ticket">
            </div>
        </div>
    </div>
</form>

<br>

<div class="subtitle">
    <h5>Possible Queries:</h5>
    <br>
    <h6><i>Ticket by ID</i> - /tickets/&lt;ID&gt;</h6>
    <a href="/tickets/000-000/"><h6 class="sub-subtitle">e.g. /tickets/000-000/</h6></a>
    <br>
    <h6><i>All Tickets</i></h6>
    <a href="/tickets/all/"><h6 class="sub-subtitle">/tickets/all/</h6></a>
    <br>
    <h6><i>Tickets by Team</i></h6>
    <a href="/tickets/team/sales/"><h6 class="sub-subtitle">/tickets/team/sales/</h6></a>
    <a href="/tickets/team/marketing/"><h6 class="sub-subtitle">/ticket/teams/marketing/</h6></a>
    <a href="/tickets/team/engineering/"><h6 class="sub-subtitle">/ticket/teams/engineering/</h6></a>
    <br>
    <h6><i>Tickets by Priority</i></h6>
    <a href="/tickets/priority/low/"><h6 class="sub-subtitle">/tickets/priority/low/</h6></a>
    <a href="/tickets/priority/normal/"><h6 class="sub-subtitle">/tickets/priority/normal/</h6></a>
    <a href="/tickets/priority/important/"><h6 class="sub-subtitle">/tickets/priority/important/</h6></a>
    <a href="/tickets/priority/critical/"><h6 class="sub-subtitle">/tickets/priority/critical/</h6></a>
</div>

<br>

{% endblock %}
