.header {
    background-color: #373F51;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-size: 42pt;
    text-decoration: none;
}

body {
    background-color: White;
}

.col-img {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding: 0px 10px 30px 10px;
    position: relative;
}

.char-img {
    max-height: 160px;
}

.char-text {
    position: absolute;
    text-align: center;
    width: 230px;
    padding-top: 5px;
}

.cont-main {
    margin-left: 65px;
}

.char-modal-bg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.char-modal-ct {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow: hidden;
}

.char-info-image {
    max-height: inherit;
    max-width: inherit;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cl-padding {
    padding-bottom: 5px;
}

.myclose {
    margin-right: -7px;
    line-height: .1px;
}

.char-modal-ct-inner {
    padding-top: 25px;
}

.char-info-cont {
    padding-top: 25px;
}

.btn-back {
    padding-bottom: 20px;
}

.btn-sub {
    padding-top: 20px;
}

.form-capped {
    max-width: 300px;
}

.subtitle {
    padding: 10px 0px 0px 20px;
}

.char-info {
    text-align: center;
}

@media (max-width:320px){
    .char-image-cont {
        max-height: 14em;
        max-width: 120%;
    }
}

@media (min-width: 321px) and (max-width:600px){
    .char-image-cont {
        max-height: 14em;
        max-width: 120%;
    }
}

@media (min-width:600px){
    .char-image-cont {
        max-height: 100%;
        max-width: 120%;
    }

    .char-info-image {
        padding-right: 30px;
    }
}

@media (min-width:768px){
    .char-image-cont {
        max-height: 12em;
        max-width: 120%;
    }

     .char-info-image {
        padding-right: 60px;
    }
}

@media (min-width:992px){
    .char-image-cont {
        max-height: 13em;
        max-width: 120%;
    }
}

@media (min-width:1200px){
    .char-image-cont {
        max-height: 14em;
        max-width: 120%;
    }
}