.header {
    background-color: #373F51;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-size: 42pt;
    text-decoration: none;
}

body {
    background-color: White;
}

.col-img {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding: 0px 10px 30px 10px;
    position: relative;
}

.char-img {
    max-height: 160px;
}

.char-text {
    position: absolute;
    text-align: center;
    width: 230px;
}